.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rprofile
*.jpeg
*.jpg
*.png
*.pdf
Results/
Landscape_ecology/
landscape_characteristics/Catchments02.csv
landscape_characteristics/Catchments05.csv
Data/Derived/
Literature Review for PCIP and TEMP covariates.docx
Code/plots_ch1_GLMMs.docx
